rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && (
        request.auth.token.email == 'iamronyofficial1@gmail.com' ||
        request.auth.token.email == 'gmrony135@gmail.com'
      );
    }
    
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && (request.auth.uid == userId || isAdmin());
    }

    match /settings/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
